{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>
<body>
    <header>
        <h1><a class="logo" href="{% url 'index' %}">Design pro</a></h1>

        <div class="header-link">
            {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" class="links">
                    {% csrf_token %}
                    <button type="submit">Выйти</button>
                </form>
            {% else %}
                <form class="links">
                    <a href="{% url 'login' %}">Войти</a>
                    <a href="{% url 'register' %}">Зарегестрироваться</a>
                </form>
            {% endif %}
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>